@font-face{
    font-family: 'IBM Plex Mono';
    src: url('./fonts/IBMPlexMono-Regular.ttf');
    font-weight: normal;
}

@font-face{
    font-family: 'IBM Plex Mono';
    src: url('./fonts/IBMPlexMono-Bold.ttf');
    font-weight: bold;
}


html{
    box-sizing: border-box;
}

body{
    background-color: #000028;
    display: flex;
    justify-content: center;
}

.container{
    max-height: max-content;
    margin: 0;
    position: relative;
}

.header{
    position: relative;
    width: 1024px;
    height: 768px;
    background-image: url(/image/cover-image-dark.png);
    background-size: 1229px 768px;
    background-position-x: -102px;
}

.navigation {
    position: absolute;
    top: 20px;
    left: 397px;
    width: 230px;
    height: 26px;
    list-style-type: none;
    padding: 0 13px;
}

.navigation button{
    width: 70px;
    height: 26px;
    padding-right: 13px;
    padding-left: 13px;
    font-family: "IBM Plex Mono";
    color: #FF0070;
    line-height: 18px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    background-color: rgba(28,28,28,0);
    border: none;
    outline: none;
    cursor: pointer;
}

button:active {
    border: 1px solid #FF0070;
}

button:hover {
    border: 1px solid #FF0070;
}

.header .rectangle79 {
    position: absolute ;
    top: 723px;
    left: 20px;
    margin: 0px;
    width: 25px;
    height: 25px;
    max-width: 25px;
    border-width: 0px 0px 1px 1px;
    border-style: solid;
    border-color: #FF0070;
    
}

.header .rectangle77 {
    position:absolute;
    top: 20px;
    left: 979px;
    margin: 0px;
    width: 25px;
    height: 25px;
    max-width: 25px;
    border-width: 1px 1px 0px 0px ;
    border-style: solid;
    border-color: #FF0070;
}

.header .ellipse{
    position: absolute;
    width: 9px;
    height: 9px;
    top: 28px;
    left: 986px;
    background: #FF0070;
    border-radius: 100%;
    box-shadow: 0 0 4px 2px #ff0070;

}

.header .rectext {
    position: absolute;
    width: 33px;
    height: 26px;
    left: 943px;
    top: 20px;
    margin: 0px;
    font-family: 'IBM Plex Mono';
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FF0070;
}

h1{
    position: absolute;
    top: 319px;
    width: 759px;
    height: 130px;
    font-family: 'IBM Plex Mono';
    font-weight: bold;
    font-size: 157px;
    line-height: 129.53px;
    color: #DB00FF;
    margin: 0px;
    text-shadow: 4px 4px 0px #FF0070;
}

.p1{
    position: relative;
    top: 563px;
    left: 513px;
    right: 20px;
    bottom: 134px;
    width: 491px;
    height: 71px;
    font-family: 'IBM Plex Mono';
    font-weight: bold;
    font-size: 18px;
    line-height: 23.4px;
    background-color: #FF0070;
    color: #000028;
}

.section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 1024px;
    height: 508px;
    left: 0px;
    top: 828px;
}

.section1 .title{
    position: absolute;
    width: 314.96px;
    height: 47px;
    left: 20px;
    top: 0px;
    font-family: 'IBM Plex Mono';
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #FF0070;
}

.section1 .mnogozadach{
    position: absolute;
    width: 648.92px;
    height: 23px;
    right: 20.19px;
    top: 0px;
    font-family: 'IBM Plex Mono';
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    background-color: #FF0070;
    color: #000028;
}

.section1 .qwerty{
    position: absolute;
    width: 648.92px;
    height: 211px;
    right: 20.19px;
    top: 33px;
    font-family: 'IBM Plex Mono';
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #F1B2CE;
}

a{
    font-family: 'IBM Plex Mono';
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-shadow: 2px 2px  #FF0070;
    color: #F1B2CE;
    text-decoration: none;
    color: #F1B2CE;
}

a:hover{
    color: #F1B2CE;
    background-color: #2196f3;
}

.section1 .dofamine{
    position: absolute;
    width: 648.92px;
    height: 23px;
    left: 355.08px;
    top: 264px;
    font-family: 'IBM Plex Mono';
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    background-color: #FF0070;
    color: #000028;
}

.section1 .onetap{
    position: absolute;
    width: 648.92px;
    height: 211px;
    left: 355.08px;
    top: 297px;
    font-family: 'IBM Plex Mono';
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #F1B2CE;
}

.section2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;

    position: absolute;
    width: 1024px;
    height: 498px;
    left: 0;
    top: 1416px;
}

.zagolovok{
    position: absolute;
    width: 315px;
    height: 47px;
    left: 20px;
    top: 0;
    font-family: 'IBM Plex Mono';
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 23px;
    color: #FF0070;
    margin: 0;
}

.textsect2{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 20px;

    position: absolute;
    width: 984px;
    height: 431px;
    left: 20px;
    top: 67px;
}

.text1{
    position: absolute;
    width: 315px;
    height: 23px;
    left: 0;
    top: 0;
    font-family: 'IBM Plex Mono';
    font-weight: bold;
    font-style: normal;
    background-color: #FF0070;
    color: #000028;
    font-size: 18px;
    line-height: 23.4px;
    margin: 0;
}

.blum{
    position: absolute;
    width: 315px;
    height: 351px;
    left: 0;
    top: 33px;
    font-family: 'IBM Plex Mono';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    line-height: 23.4px;
    color: #F1B2CE;
    margin: 0;
}

.text2{
    position: absolute;
    width: 315px;
    height: 23px;
    left: 335px;
    top: 0;
    font-family: 'IBM Plex Mono';
    font-weight: bold;
    font-style: normal;
    background-color: #FF0070;
    color: #000028;
    font-size: 18px;
    line-height: 23.4px;
    margin: 0;
}

.blum2{
    position: absolute;
    width: 315px;
    height: 328px;
    top: 33px;
    left: 335px;
    font-family: 'IBM Plex Mono';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    line-height: 23.4px;
    color: #F1B2CE;
    margin: 0;
}

.text3{
    position: absolute;
    width: 315px;
    height: 23px;
    left: 670px;
    top: 0;
    font-family: 'IBM Plex Mono';
    font-weight: bold;
    font-style: normal;
    background-color: #FF0070;
    color: #000028;
    font-size: 18px;
    line-height: 23.4px;
    margin: 0;
}

.blum3{
    position: absolute;
    width: 315px;
    height: 398px;
    top: 33px;
    left: 670px;
    font-family: 'IBM Plex Mono';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    line-height: 23.4px;
    color: #F1B2CE;
    margin: 0;
}

.section3 { 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    
    position: absolute;
    width: 1024px;
    height: 1015px;
    left: 0;
    top: 1994px;
    }
    
    .koncetracia{
        position: absolute;
        width: 315px;
        height: 98px;
        left: 20px;
        top: 0;
        font-family: 'IBM Plex Mono';
        font-weight: 700;
        font-style: normal;
    font-size: 18px;
    line-height: 23px;
    color: #FF0070;
    margin: 0;
}

.textsect3 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0;
    gap: 20px;
    
    position: absolute;
    width: 649px;
    height: 1015px;
    right: 20px;
    left: 355px;
    top: 0;
}

    .zagolovok2 {
        width: 649px;
        height: 23px;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
        font-family: 'IBM Plex Mono';
        font-weight: bold;
        font-style: normal;
        background-color: #FF0070;
        color: #000028;
        font-size: 18px;
        line-height: 23.4px;
        margin: 0;
    }
    
    
    
    .sovet1{
        position: absolute;
        width: 649px;
        height: 23px;
        left: 0;
        top: 43px;
        font-family: 'IBM Plex Mono';
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        line-height: 23px;
        color: #000028;
        background-color: #FF0070;
        margin: 0;
    
    }
    
    .sut1 {
        position: absolute;
        width: 647.55px;
        height: 211px;
        left: 0;
        top: 76px;
        font-family: 'IBM Plex Mono';
        font-weight: normal;
        font-style: normal;
        font-size: 18px;
        line-height: 23.4px;
        color: #F1B2CE;
        margin: 0;
    }
    
    .sovet2{
        position: absolute;
        width: 649px;
        height: 23px;
        left: 0;
        top: 307px;
        font-family: 'IBM Plex Mono';
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        line-height: 23px;
        color: #000028;
        background-color: #FF0070;
        margin: 0;
    }
    .sut2{
        position: absolute;
        width: 649px;
        height: 117px;
        left: 0;
        top: 340px;
        font-family: 'IBM Plex Mono';
        font-weight: normal;
        font-style: normal;
        font-size: 18px;
        line-height: 23.4px;
        color: #F1B2CE;
        margin: 0;
    }
    
    .sovet3{
        position: absolute;
        width: 649px;
        height: 23px;
        top: 477px;
        left: 0;
        font-family: 'IBM Plex Mono';
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        line-height: 23px;
        color: #000028;
        background-color: #FF0070;
        margin: 0;
    }
    
    .sut3{
        position: absolute;
        width: 649px;
        height: 164px;
        top: 510px;
        left: 0;
        font-family: 'IBM Plex Mono';
        font-weight: normal;
        font-style: normal;
        font-size: 18px;
        line-height: 23.4px;
        color: #F1B2CE;
        margin: 0;
    }
    
    .sovet4{
        position: absolute;
        width: 649px;
        height: 23px;
        top: 694px;
        left: 0;
        font-family: 'IBM Plex Mono';
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        line-height: 23px;
        color: #000028;
        background-color: #FF0070;
        margin: 0;

    }
    
    .sut4{
        position: absolute;
        width: 649px;
        height: 118px;
        top: 727px;
        left: 0;
        font-family: 'IBM Plex Mono';
        font-weight: normal;
        font-style: normal;
        font-size: 18px;
        line-height: 23.4px;
        color: #F1B2CE;
        margin: 0;
    }
    
    .sovet5{
        position: absolute;
        width: 649px;
        height: 23px;
        top: 865px;
        left: 0;
        font-family: 'IBM Plex Mono';
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        line-height: 23px;
        color: #000028;
        background-color: #FF0070;
        margin: 0;
    }
    
    .sut5{
        position: absolute;
        width: 649px;
        height: 117px;
        top: 898px;
        left: 0;
        font-family: 'IBM Plex Mono';
        font-weight: normal;
        font-style: normal;
        font-size: 18px;
        line-height: 23.4px;
        color: #F1B2CE;
        margin: 0;
    }
    